.results-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

table {
    max-width: 50rem;
    padding: 1rem;
    table-layout: fixed;
    border-spacing: 1rem;
    text-align: right;
  }
  
  table thead {
    color: #83e6c0;
  }
  
  table tbody {
    font-family: "Roboto Condensed", sans-serif;
    color: #c2e9e0;
  }